* {
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

a {
	text-decoration: none;
}

body {
	margin: 116px 0 0;
}

img {
	display: table;
	height: 100%;
	width: 100%;
}

.wrapper {
	width: 80%;
	max-width: 1500px;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.center {
	justify-content: center;
	align-items: center;
}

.column {
	flex-direction: column;
}

figure {
	margin: 0;
}



.w-100 {
	width: 100%;
}

.mt-10 {
	margin-top: 10px;
}

.mt-150 {
	margin-top: 150px;
}

.ml-35 {
	margin-left: 35px;
}

.logoContainer {
	max-width: 140px;
	max-height: 85px;
	margin: auto 0;
}

.upperContainer {
	justify-content: space-between;
}



input[type="search"] {
	background: #f4f4f4;
	border: none;
	height: 30px;
	padding: 7px;
	width: 100%;
}



label[for="location"] {
	margin-left: 20px;
	margin-right: 5px;
}

select, option {
	color: #000;
	padding: 5px;
}

.fas {
	font-size: 20px;
	padding: 5px;
	cursor: pointer;
}



ul {
	padding: 0;
	margin-top: 20px;
	margin-bottom: 0;
	justify-content: space-between;
}

li {
	list-style: none;
	cursor: pointer;
	margin: 10px 18px;
	text-transform: uppercase;
}

li:hover,
.fas:hover {
	color: #ffc000;
}






p {
	color: #000;
}
header {
	background: #083776;
	height: 60px;
	padding: 10px 0;
	position: fixed;
		top: 0;
	width: 100%;
}
header .logo {
	display: inline-block;
	max-width: 90px;
}
header nav {
	display: inline-block;
	float: left;
}
header nav ul {
	display: none;
}
header #navHam {
	display: inline-block;
	float: left;
	font-size: 30px;
	margin-top: 5px;
	padding: 10px;
}
header .searchContainer {
	position: absolute;
		right: 100%;
		bottom: -30px;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	width: 100%;
}
header .searchContainer button {
	position: absolute;
	color: #083776;
	height: 30px;
	border: none;
	background: #f8df29;
	padding: 0;
	right: 0;
}
header .searchContainer i {
	color: #083776;
}
header .searchContainer.open {
	right: 0;
}
header .iconContainer {
	display: inline-block;
	float: right;
	margin-top: 9px;
}
header .iconContainer .fas {
	background: #1979c3;
	border-radius: 50%;
	padding: 6px;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	font-size: 17px;
	line-height: 32px;
	text-align: center;
}
header .cartContainer {
	background: #fff;
	border: 1px solid #083776;
	padding-bottom: 20px;
	position: absolute;
		top: 80px;
		left: 100%;
	text-align: center;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	width: calc(100% - 2px);
}
header .cartContainer.open {
	left: 0;
}
header .cart-wrapper {
}
header .cartContainer article {
	padding: 20px;
}
header .cartContainer p {
	margin: 0;
}
header .cartContainer hr {
	border: none;
	border-top: 1px solid #083776;
	margin: 0 20px 20px;
}
header .cartContainer a {
	color: #083776;
}
header .cartContainer .phoneContainer {
	margin-top: 5px;
}
header .cartContainer .phoneContainer a {
	margin: 0 5px;
	text-decoration: underline;
}
header select {
	background: #fff;
	border: 1px #083776 solid;
	margin-top: 10px;
}

@media screen and (min-width: 425px) {
header #navHam {
	margin: 20px 10px 0;
}
header .locationContainer {
	margin-top: 7.5px;
	margin-right: 20px;
}
header .iconContainer {
	margin-top: 10px;
}
.iconContainer .fas {
	margin-right: 20px;
}
}