@media screen and (min-width: 425px) {
  #headerMobile * {
    font-family: 'Roboto', sans-serif;
    color: #fff;
  }
  #headerMobile a {
    text-decoration: none;
  }
  #headerMobile body {
    margin: 116px 0 0;
  }
  #headerMobile img {
    display: table;
    height: 100%;
    width: 100%;
  }
  #headerMobile .wrapper {
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
  }
  #headerMobile .flex {
    display: flex;
  }
  #headerMobile .center {
    justify-content: center;
    align-items: center;
  }
  #headerMobile .column {
    flex-direction: column;
  }
  #headerMobile figure {
    margin: 0;
  }
  #headerMobile input {
    -webkit-border-radius: 0;
  }
  #headerMobile .w-100 {
    width: 100%;
  }
  #headerMobile .mt-10 {
    margin-top: 10px;
  }
  #headerMobile .mt-150 {
    margin-top: 150px;
  }
  #headerMobile .ml-35 {
    margin-left: 35px;
  }
  #headerMobile .logoContainer {
    max-width: 140px;
    max-height: 85px;
    margin: auto 0;
  }
  #headerMobile .upperContainer {
    justify-content: space-between;
  }
  #headerMobile input[type="search"] {
    background: #f4f4f4;
    border: none;
    height: 30px;
    padding: 7px;
    width: 100%;
  }
  #headerMobile label[for="location"] {
    margin-left: 20px;
    margin-right: 5px;
  }
  #headerMobile select,
  #headerMobile option {
    color: #000;
    padding: 5px;
  }
  #headerMobile .fas {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
  }
  #headerMobile ul {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
    justify-content: space-between;
  }
  #headerMobile li {
    list-style: none;
    cursor: pointer;
    margin: 10px 18px;
    text-transform: uppercase;
  }
  #headerMobile li:hover,
  #headerMobile .fas:hover {
    color: #ffc000;
  }
  #headerMobile p {
    color: #000;
  }
  #headerMobile header {
    background: #083776;
    height: 60px;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  #headerMobile header .logo {
    display: inline-block;
    max-width: 90px;
  }
  #headerMobile header nav {
    display: inline-block;
    float: left;
  }
  #headerMobile header nav ul {
    display: none;
  }
  #headerMobile header #navHam {
    display: inline-block;
    float: left;
    font-size: 30px;
    margin-top: 5px;
    padding: 10px;
  }
  #headerMobile header .searchContainer {
    position: absolute;
    right: 100%;
    bottom: -30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 100%;
  }
  #headerMobile header .searchContainer button {
    position: absolute;
    color: #083776;
    height: 30px;
    border: none;
    background: #f8df29;
    padding: 0;
    right: 0;
  }
  #headerMobile header .searchContainer i {
    color: #083776;
  }
  #headerMobile header .searchContainer.open {
    right: 0;
  }
  #headerMobile header .iconContainer {
    display: inline-block;
    float: right;
    margin-top: 9px;
  }
  #headerMobile header .iconContainer .fas {
    background: #1979c3;
    border-radius: 50%;
    padding: 6px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    font-size: 17px;
    line-height: 32px;
    text-align: center;
  }
  #headerMobile header .cartContainer {
    background: #fff;
    border: 1px solid #083776;
    padding-bottom: 20px;
    position: absolute;
    top: 80px;
    left: 100%;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: calc(100% - 2px);
  }
  #headerMobile header .cartContainer.open {
    left: 0;
  }
  #headerMobile header .cartContainer article {
    padding: 20px;
  }
  #headerMobile header .cartContainer p {
    margin: 0;
  }
  #headerMobile header .cartContainer hr {
    border: none;
    border-top: 1px solid #083776;
    margin: 0 20px 20px;
  }
  #headerMobile header .cartContainer a {
    color: #083776;
  }
  #headerMobile header .cartContainer .phoneContainer {
    margin-top: 5px;
  }
  #headerMobile header .cartContainer .phoneContainer a {
    margin: 0 5px;
    text-decoration: underline;
  }
  #headerMobile header select {
    background: #fff;
    border: 1px #083776 solid;
    margin-top: 10px;
  }
}
@media screen and (min-width: 425px) and screen and (min-width: 425px) {
  #headerMobile header #navHam {
    margin: 20px 10px 0;
  }
  #headerMobile header .locationContainer {
    margin-top: 7.5px;
    margin-right: 20px;
  }
  #headerMobile header .iconContainer {
    margin-top: 10px;
  }
  #headerMobile .iconContainer .fas {
    margin-right: 20px;
  }
}
